:root {
  --error-color: #e63946;
  --color: #1d3557;
  --bg-color: #f1faee;
  --primary-color: #457b9d;
  --secondary-color: #a8dadc;
  --even-color: #DE023F;

  --font-size: 14pt;
  --font-display: 'Roboto', sans-serif;
  --font-default: 'Roboto', sans-serif;
}
/* 
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
} */

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--color);
  font-family: var(--font-default);
  font-size: var(--font-size);
  -webkit-font-smoothing: subpixel-antialiased;
}

.font-size-6 {
  font-size: 6pt !important;
}

.font-size-8 {
  font-size: 8pt !important;
}

.font-size-10 {
  font-size: 10pt !important;
}

.font-size-11 {
  font-size: 11pt !important;
}

.font-size-12 {
  font-size: 12pt !important;
}

.font-size-13 {
  font-size: 13pt !important;
}

.font-size-14 {
  font-size: 14pt;
}

.font-size-15 {
  font-size: 15pt;
}

.font-size-16 {
  font-size: 16pt;
}

.font-size-17 {
  font-size: 17pt;
}

.font-size-18 {
  font-size: 18pt;
}

.font-size-20 {
  font-size: 20pt;
}

.font-size-22 {
  font-size: 22pt;
}

.font-size-40 {
  font-size: 40px !important;
}

.font-size-primary {
  font-size: 3.5rem;
}

.font-size-secondary{
  font-size: 1.4rem;
}

.font-size-btn{
  font-size: 1rem;
}

.primary-text-color {
  color: var(--color) !important;
}

.secondary-text-color {
  color: var(--primary-color) !important;
}

.extra-text-color {
  color: var(--secondary-color) !important;
}

.danger-text-color {
  color: var(--even-color) !important;
}

.cursor-pointer {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 6px;   
  height: 6px;  
}

/* Track */
::-webkit-scrollbar-track {
  background: #1E1F20; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  var(--even-color); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--even-color); 
}

@media only screen and (max-width: 545px){
  .font-size-primary {
    font-size: 2.2rem;
  }

  .font-size-secondary{
    font-size: 1rem;
  }

  .font-size-btn{
    font-size: .8rem;
  }
  
}