/* Colors  */
.color-white{
    color: #fff !important
}
.color-black{
    color: #000 !important
}

.color-red{
    color: #DE023F !important
}

/* BackGround  */
.bg-red{
    background-color: #DE023F !important;
}

.bg-blue{
    background-color: #457b9d !important;
}

.btn-general{
    color: #333;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    padding: 1.2rem 2rem;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    transition: transform .3s;
}

.btn-general:hover {
    transform: translateY(-5px);
}

.navbar-toggler {
    border: var(--cui-border-width) solid rgba(253, 253, 253, 0.771) !important;
}

@keyframes progress-indef {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(-90deg); }
    100% { transform: rotate(0deg); }
}

@keyframes progress-circle {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}